<div class="loggedin">
    <div class="col-sm-8 termlinks">
        <a href="/category-content/{{taxonomy_id}}">{{taxonomy_name}} Content</a>
        <a href="/categories/{{taxonomy_id}}">{{taxonomy_name}} Categories</a>
    </div>
    <div class="col-sm-3 logins">
        <ul class="list-inline">
            <li><p>Hello {{logged_in_user}}</p></li>
            <li><a href="/user/logout">Sign out</a></li>
        </ul>
    </div>
    <div class="col-sm-1 logout-icon">
        <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
    </div>
</div>